.login_page_container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
    .buttons_container{
        display: flex;
        padding: 4.5625rem 1.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.125rem;
        border-radius: 1.9375rem;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    }
        .google_svg{
            height: 24px;
            width: 24px;
        }

        .anonymous_svg{
            height: 24px;
            width: 24px;  
        }

        .back_icon{
            position: fixed;
            top: 2rem;
            left: 2rem;
        }