@font-face {
  font-family: e-Ukraine;
  /* src: url('./assets/fonts/e-Ukraine/e-Ukraine.otf') format('otf'); */
  src: url(./assets/fonts/e-Ukraine/e-Ukraine-Regular.otf);
}

:root {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #E9E9E9;
  font-family: e-Ukraine;
}

button{
  font-family: e-Ukraine;

}